.category_cards {
  margin-top: 1rem;
}
.category_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
  margin-bottom: 5rem;
}
.category_page > p {
  width: 95%;
  font-family: "Libre Baskerville";
}

.category_page > h1 {
  width: 95%;
  margin-inline: auto;
  align-self: flex-start;
  padding-bottom: 1rem;
  text-align: center;
}
.category_page > h2 {
  margin-top: 2rem;
}
.line {
  margin-block: 2.5rem;
}

.line_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 98%;
  margin-inline: auto;
}

.category_card {
  flex: 1;
}

.category_pagination {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding-left: 0%;
}

.paginaton_nav {
  margin-top: 3rem;
}

.category_page-item {
  width: 2rem;
  height: 2rem;
  border: 1px solid #003c57;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.page-link {
  text-decoration: none;
  color: #212b36;
}

.category_page-link {
  text-decoration: none;
  color: #212b36;
}

.category_page-item:first-child {
  background: #919eab;
  border: none;
}
.category_page-item:last-child {
  background: #919eab;
  border: none;
}
.cta {
  width: 100%;
}
@media (max-width: 650px) {
  .category_cards {
    grid-template-columns: 1fr;
  }
}
