.buttomTitle_section {
  background: #d7e5ca;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.line {
  margin-block: 2rem;
}

.line_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lastCta {
  margin-bottom: 6rem;
}
